.pdf-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 3px;
  flex-direction: column;
  justify-content: flex-start;

}

.pdf-container1 {
  width: 500px;

  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: flex-end;
  border-color: #000000;
  border-style: solid;
  border-width: 4px;
  border-radius: 15px;

}

.pdf-div1 {
  background-color: rgb(255, 255, 255);
  width: 100%;

  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.pdf-div2 {
  background-color: rgb(233, 233, 233);
  border-top: 4px solid;
  border-bottom: 4px solid;
  border-color: #000000;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
}

.pdf-div3 {
  background-color: rgb(255, 255, 255);
  width: 100%;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;

}

.shipto-div {
  background-color: rgb(0, 0, 0);
  width: 16%;
  height: 35px;
  padding-left: 20px;
  margin-left: 25px;
  margin-top: 25px;
}

.shipto {
  padding-top: 8.6px;
  color: rgb(250, 250, 250);
  font-family: sans-serif;
}

.buyerinfo {
  width: 80%;
  margin-left: 5%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 640;
  padding-right: 10px;
  margin-bottom: 30px;
}

.buyerinfo>p {
  margin: 6px;
}


.from-div {

  width: 16%;
  height: 35px;
  padding-left: 5px;
  margin-left: 25px;
  margin-top: 25px;
}

.from {
  padding-top: 8.6px;
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  font-weight: 800;
}

.pdf-image {
  margin-left: 38%;
  height: 100px;
}